 @media(max-width: 600px) {

   .container {
     max-width: 375px;
   }

   .start_button {
     padding: 22px 92px 23px 92px;
     margin: 0 32px;
   }

   .sec_text {
     padding: 20px 50px 38px;
   }

   .sec_2 {
     background-image: url("../assets/Background.png");
     background-repeat: no-repeat;
     background-position: bottom;
     margin-top: 176px;
     display: flex;
     margin-bottom: 20px;
   }

   .cont_sec_2 {

   }

   .cont_sec_3 {
     margin-top: 0;
     height: auto;
   }

   .sec_3_text {
     padding-bottom: 25px;
    }

   .sec_3_icons {
     display: block;
   }

   .red_icon {
     padding-bottom: 25px;
   }

   .green_icon {
     padding-bottom: 50px;
   }

   .blue_icon {
     padding-bottom: 25px;
   }

   .cont_sec_4 {
     height: auto;
   }

   .inside_cont_sec_4 {
     width: 314px;
   }

   .laptop.about_us {
     width: auto;
     height: auto;
     flex-direction: column;
     flex-direction: column-reverse;
     align-items: center;
   }

   .laptop_icon_box {
     padding: 0;
     width: 215px;
     height: 147px;
     margin-bottom: 27px;
   }

   .mac_pic {
     width: 193px;
     height: 109px;
     margin: 37px 0 0 0;

   }
   .rect_pic {
     width: 127px;
     height: 127px;
     margin:0 0 19.5px 88.5px;

   }
   .pic {
     width: 90px;
     height: 90px;
     margin: 20px 20px 20px 20px;

   }

   .laptop.sec_4_text {
     width: 272px;
     height: auto;
     padding: 0 0 30px 0;
    }

   .sec_4_header {
     height: 72px;
     font-size: 1.875rem;
   }

   .sec_4_paragraph {
     height: 84px;
     font-size: 0.875rem;
     padding-top: 10px;
   }

   .red_line {
     display: none;
   }

   .mobile.about_us {
     flex-direction: column;
     width: auto;
     height: auto;
     align-items: center;
   }


   .mobile_icon_box {
     width: 175px;
     height: 142px;
     padding: 19px 50px 0 90px;

   }

   .mobile_pic {
     width: 175px;
     height: 135px;
   }

   .circ_pic {
     width: 132px;
     height: 132px;
     margin: -5px auto auto  0;
   }

   .mobile.sec_4_text {
     width: 272px;
     height: auto;
     margin: 31px 0 25px 0;
   }

   .sec_4_header{
     line-height: 2.250rem;
     font-size: 1.875rem;
   }

   .sec_4_paragraph {
     font-size: 0.875rem;
     padding-top: 17px;
   }

   .blue_line {
     display: none;
   }

   .trumpet.about_us {
     flex-direction: column;
     width: auto;
     height: auto;
     align-items: center;
   }

   .outside_trumpet_text {
     width: 314px;
     height: auto;
     display: flex;
     margin: 0;

   }

   .trumpet .sec_4_text {
     padding: 0;
     height: auto;
     margin: 0 0 30px 0;
   }

   .trumpet .sec_4_header {
     line-height: 2.250rem;
     font-size: 1.875rem;
     height: auto;
     margin: 30px 0 0 21px;

   }

   .trumpet .sec_4_paragraph {
     width: 255px;
     height: auto;
     padding: 60px 0 0 21px;
   }

   .trumpet_pic {
     width: 314px;
     height: 195px;
   }

   .inside_trumpet_pic {
     margin: 30px 35px 0 0;
   }

   .green_line {
     display: none;
   }

   .cont_sec_5 {
     height: auto;
     margin: 60px auto 60px;
   }

   .offers {
     display: block;
     width: 375px;
     height: auto;
   }

   .offer_container {
     width: 293px;
     height: auto;
     margin: 0 auto 54px auto;
   }

   .offer_container:nth-child(2) {
     width: 339px;
     height: 277px;
   }

   .offer {
     width: 293px;
     height: 251px;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .offer.basic {
     margin: 0;
   }
   .offer.professional {
     width: 339px;
     height: 277px;
     zoom: 100%;
     margin: 0;
   }
   .offer.premium {
     margin: 0;
   }


   .liPoint {
     text-align: left;
   }
   .respons_1_2 {
     width: 100%;
     height: 253px;
     display: flex;
     justify-content: space-between;
   }

   .respons_1 {
     align-self: center;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .respons_2 {
     width: 140px;
     display: block;
     text-align: left;
   }

   .basic .respons_1_2 .respons_1 {
     margin-left: 45px;
     margin-right: 43px;
   }

   .basic .respons_1_2 .respons_2 {
     margin: 40px 11px 37px 0;
   }


   .title_1 {
     margin-top: 0;
   }

   .price_2 {
     margin: 0
   }

   .offer_3 {
     margin-top: 4px;
   }

   .hdd_4 {
     margin: 0;
   }

   .button_9 {
     margin: 0;
   }

   .pricing {
     font-size: 2.250rem;
     margin-bottom: 14px;
   }

   .sec_5a {
     display: none;
   }

  }